<a href="https://colab.research.google.com/github/Bigmichalych/university/blob/main/Ex_Tasks/%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%20%E2%84%962.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [3]:
numbers = list(map(int, input().split()))
print(list(map(lambda x: x**3, numbers)))

1 2 3 4 5
[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [7]:
words = list(map(str, input().split()))
print(list(filter(lambda x: x[0]==x[-1], words)))

level python radar world rortor
['level', 'radar', 'rortor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [18]:
from functools import reduce
numbers = list(map(int, input().split()))
print(reduce(lambda x, y: x if x > y else y, numbers))

47 11 42 102 13
102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [22]:
numbers_1, numbers_2 = list(map(int, input().split())), list(map(int, input().split()))
numbers_2_1 = list(map(lambda x: x**3, numbers_2))
print(list(zip(numbers_1, numbers_2_1)))

1 2 3
4 5 6
[(1, 64), (2, 125), (3, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [28]:
numbers = list(map(int, input().split(",")))
numbers_1 = list(filter(lambda x: x % 2 == 0, numbers))
print(reduce(lambda x, y: x + y, numbers_1))

1,2,3,4,5,6,7,8,9,10
30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [29]:
celsius = list(map(int, input().split()))
print(list(map(lambda x: x*9/5+32, celsius)))

0 15 30 100
[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [34]:
numbers = list(map(int, input().split()))
print(list(map(lambda x: x**2, list(filter(lambda x: x%2 != 0, numbers)))))

1 2 3 4 5 6 7 8 9
[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [35]:
from functools import reduce
numbers = list(map(int, input().split()))
print(reduce(lambda x, y: x*y, numbers))

1 2 3 4 5
120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [36]:
strings = list(map(str, input().split()))
print(list(map(lambda x: x if x.isdigit() else 0, strings )))

10 20 abc 30 def
['10', '20', 0, '30', 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [38]:
x_coords, y_coords = list(map(int, input().split())), list(map(int, input().split()))
print(list(zip(x_coords, y_coords)))

1 2 3
4 5 6
[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [41]:
words = list(map(str, input().split()))
words_len = list(map(lambda x: len(x), words))
print(dict(zip(words, words_len)))

apple banana cherry
{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [44]:
numbers = list(map(int, input().split()))
print(list(filter(lambda x: x%2 !=0 and x%3 != 0 and x%5 != 0 or x == 2 or x == 3 or x == 5, numbers)))

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [73]:
list1, list2, list3 = list(map(int, input().split())), list(map(int, input().split())), list(map(int, input().split()))
print(list(map(lambda x: sum(x), zip(list1,list2,list3))))

1 2 3
4 5 6
7 8 9
[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [88]:
import collections
from functools import reduce

text = 'Functional programming with lambda functions'
text = text.lower()
text = list(text)

dictionary = dict(collections.Counter(text))
new = reduce(lambda a,b: max(a,b), dictionary.values())

for i in dictionary:
  if dictionary[i] == new:
    print(i)

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [87]:
from functools import reduce

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

AEIOUY = list(map(lambda x: list(map(lambda y: y if y in ['a', 'e', 'i', 'o', 'u', 'y'] else None, x )) , words))
AEIOUY = list(reduce(lambda x,y: x+y, AEIOUY))

last = list(reduce(lambda x,y: x+y,words))
last = list(filter(lambda x: x if x in AEIOUY else None, last))
print(len(new))

13

---